{% extends 'base.html' %}

{% block content %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="row row-cards row-deck">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Price Trend</h3>
                        </div>
                        <div id="chart-development-activity" style="height: 15rem"></div>
                        <div class="table-responsive">
                            <table class="table card-table table-striped table-vcenter">
                                <thead>
                                <tr>
                                    <th>Airline</th>
                                    <th>Dept</th>
                                    <th>Arr</th>
                                    <th>Economy</th>
                                    <th>Business</th>
                                    <th>Luxury</th>
                                </tr>
                                </thead>
                                <tbody id="flightTbody">
                                <tr>
                                    <td>- -</td>
                                    <td>- -</td>
                                    <td>- -</td>
                                    <td>- -</td>
                                    <td>- -</td>
                                    <td>- -</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <!-- 表格 -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Flight Tasks</h3>
                            <div class="card-options">
                                <button type="button" class="btn btn-outline-primary btn-sm"
                                        data-toggle="modal" data-target="#newTask">
                                    <i class="fe fe-plus mr-1"></i>Add
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter text-nowrap">
                                <thead>
                                <tr>
                                    <th class="w-1">No.</th>
                                    <th>Task Name</th>
                                    <th>Dept City</th>
                                    <th>Arr City</th>
                                    <th>Date</th>
                                    <th>Company</th>
                                    <th>Price</th>
                                    <th>Frequency</th>
                                    <th>Status</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for task in flight_task_list %}
                                    <tr>
                                        <td><span class="text-muted">{{ task.id|stringformat:"04d" }}</span></td>
                                        <td>{{ task.task_name }}</td>
                                        <td>{{ task.dept_city }}</td>
                                        <td>{{ task.arr_city }}</td>
                                        <td>{{ task.flight_date }}</td>
                                        <td>{{ task.airline_company }}</td>
                                        <td>￥{{ task.price }}</td>
                                        <td>{{ task.frequency }}</td>

                                        {% if task.status == -1 %}
                                            <td>
                                                <span class="status-icon bg-danger"></span> Error
                                            </td>
                                        {% elif task.status == 0 %}
                                            <td>
                                                <span class="status-icon bg-warning"></span> Stop
                                            </td>
                                        {% elif task.status == 1 %}
                                            <td>
                                                <span class="status-icon bg-success"></span> Monitoring
                                            </td>
                                        {% endif %}

                                        <td class="text-right">
                                            <a onclick="getPreviewContent({{ task.id }})" class="btn btn-secondary btn-sm">Preview</a>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm dropdown-toggle"
                                                        data-toggle="dropdown" >Actions
                                                </button>
                                                <div class="dropdown-menu" style="min-width: 6rem;">
                                                    <a class="dropdown-item" href="#"><i
                                                            class="dropdown-icon fe fe-play-circle"></i>Start</a>
                                                    <a class="dropdown-item" href="#"><i
                                                            class="dropdown-icon fe fe-pause-circle"></i>End</a>
                                                    <a class="dropdown-item" href="#" onclick="delTask({{ task.id }})">
                                                        <i class="dropdown-icon fe fe-trash-2"></i>Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="icon" data-toggle="modal" data-target="#editTask">
                                                <i class="fe fe-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- 分页 -->
                    <ul class="pagination justify-content-end">
                        {% if flight_task_list.has_previous %}
                            <li class="page-item page-prev">
                                <a class="page-link" href="?page={{ flight_task_list.previous_page_number }}" tabindex="-1">
                                    <i class="fe fe-chevron-left"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item page-prev disabled">
                                <a class="page-link" href="#" tabindex="-1">
                                    <i class="fe fe-chevron-left"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% for num in flight_task_list.paginator.page_range %}
                            {% if num == flight_task_list.number %}
                                <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if flight_task_list.has_next %}
                            <li class="page-item page-next">
                                <a class="page-link" href="?page={{ flight_task_list.next_page_number }}">
                                    <i class="fe fe-chevron-right"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item page-next disabled">
                                <a class="page-link" href="#">
                                    <i class="fe fe-chevron-right"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newTask" tabindex="-1" role="dialog" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Monitor Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label class="form-label">Task Name</label>
                            <input type="text" class="form-control" id="taskNameAdd" placeholder="Text..">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Type</label>
                            <select id="selectTypeAdd" class="form-control custom-select">
                                <option value="中国东方航空">中国东方航空</option>
                                <option value="中国南方航空">中国南方航空</option>
                                <option value="携程">携程</option>
                            </select>
                        </div>
                        <div class="row" id="flight-input">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">From</label>
                                    <input type="text" class="form-control" id="fromAdd"
                                           placeholder="e.g. 北京" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">To</label>
                                    <input type="text" class="form-control" id="toAdd"
                                           placeholder="e.g. 上海">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Date</label>
                                    <input type="text" class="form-control" id="dateAdd"
                                           data-mask="9999-99-99" data-mask-clearifnotmatch="true" placeholder="0000-00-00">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Interval</label>
                            <div class="selectgroup w-100">
                                <label class="selectgroup-item">
                                    <input type="radio" name="intervalAdd" value="1 Hour" class="selectgroup-input" checked="">
                                    <span class="selectgroup-button">1 Hour</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="radio" name="intervalAdd" value="3 Hours" class="selectgroup-input">
                                    <span class="selectgroup-button">3 Hours</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="radio" name="intervalAdd" value="12 Hours" class="selectgroup-input">
                                    <span class="selectgroup-button">12 Hours</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="radio" name="intervalAdd" value="1 Day" class="selectgroup-input">
                                    <span class="selectgroup-button">1 Day</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label">Enable Notification</div>
                            <div class="custom-controls-stacked">
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="enableNotificationAdd"
                                           value="true" checked>
                                    <span class="custom-control-label">Yes</span>
                                </label>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="enableNotificationAdd"
                                           value="false">
                                    <span class="custom-control-label">No</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="notificationSettingAdd">
                            <label class="form-label">When?</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-secondary dropdown-toggle"
                                            data-toggle="dropdown" id="notificationTypeBtnAdd">
                                        Action
                                    </button>
                                    <div class="dropdown-menu" id="notificationTypeListAdd">
                                        <a class="dropdown-item" href="javascript:void(0)">Greater(>)</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Less(<)</a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)" name="num_change">Number changed</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="notificationTypeInputAdd">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addTask()">Add task</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var chart;

        require(['selectize'], function (selectize) {
            $(document).ready(function () {
                $('#selectTypeAdd').selectize({});
                $('#selectTypeModify').selectize({});
            });
        });

        require(['c3'], function (c3) {
            $(document).ready(function () {
                 chart = c3.generate({
                    bindto: '#chart-development-activity', // id of chart wrapper
                    data: {
                        columns: [
                            // each columns data
                            ['data1', 357, 398, 422, 324, 360, 311, 497, 423, 352, 303, 349, 453, 366, 439, 377],
                            ['data2', 818, 848, 737, 838, 702, 733, 861, 876, 896, 739, 831, 727, 735, 764, 742],
                            ['data3', 1009, 1227, 1254, 1209, 1096, 1067, 1177, 1189, 1193, 1239, 1286, 1057, 1123, 1259, 1198]
                        ],
                        type: 'area', // default type of chart
                        groups: [
                            ['data1', 'data2', 'data3']
                        ],
                        colors: {
                            'data1': tabler.colors["blue"]
                        },
                        names: {
                            // name of each serie
                            'data1': 'Economy',
                            'data2': 'Business',
                            'data3': 'Luxury'
                        }
                    },
                    axis: {
                        y: {
                            padding: {
                                bottom: 0,
                            },
                            show: false,
                            tick: {
                                outer: false
                            }
                        },
                        x: {
                            padding: {
                                left: 0,
                                right: 0
                            },
                            show: false
                        }
                    },
                    legend: {
                        position: 'inset',
                        padding: 0,
                        inset: {
                            anchor: 'top-left',
                            x: 20,
                            y: 8,
                            step: 10
                        }
                    },
                    tooltip: {
                        format: {
                            title: function (x) {
                                return '';
                            }
                        }
                    },
                    padding: {
                        bottom: 0,
                        left: -1,
                        right: -1
                    },
                    point: {
                        show: false
                    },
                    color: {
                        pattern: [
                            '#fca328',
                            '#7bd235',
                            '#76befe',
                        ]
                    }
                });
            });
        });

        require(['input-mask']);

        {% if flight_task_list|length == 1 %}
            // fix dropdown menu not visible
            $('.table-responsive').on('show.bs.dropdown', function () {
                $('.table-responsive').css("overflow", "inherit");
            });

            $('.table-responsive').on('hide.bs.dropdown', function () {
                $('.table-responsive').css("overflow", "auto");
            });
        {% endif %}

        // change notification status
        $('input[type=radio][name=enableNotificationAdd]').change(function () {
            if (this.value === "true")
                $("#notificationSettingAdd").show();
            else
                $("#notificationSettingAdd").hide();
        });

        // change notification status
        $('input[type=radio][name=enableNotificationModify]').change(function () {
            if (this.value === "true")
                $("#notificationSettingModify").show();
            else
                $("#notificationSettingModify").hide();
        });

        // change notification-btn text when clicking dropdown list item
        $('#notificationTypeListAdd').click(function (e) {
            $('#notificationTypeBtnAdd').html(e.target.innerHTML);
            if (e.target.name == "num_change") {
                $('#notificationTypeInputAdd').attr('disabled', true);
            } else {
                $('#notificationTypeInputAdd').attr('disabled', false);
            }
        })

        // change notification-btn text when clicking dropdown list item
        $('#notificationTypeListModify').click(function (e) {
            $('#notificationTypeBtnModify').html(e.target.innerHTML);
            if (e.target.name == "num_change") {
                $('#notificationTypeInputModify').attr('disabled', true);
            } else {
                $('#notificationTypeInputModify').attr('disabled', false);
            }
        })

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        function getPreviewContent(id) {
            $.ajax({
                url: "{% url 'get_airline_preview' %}",
                type: 'POST',
                data: {
                    'id': id
                },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.success) {
                        $("#flightTbody").empty();
                        let tbody = getFlightTbody(data);
                        $("#flightTbody").append(tbody);

                        chart.load({
                            columns: [
                                ['data1', 300, 100, 250, 150, 300, 150],
                                ['data2', 100, 200, 150, 50, 100, 250],
                                ['data3', 147, 287, 155, 137, 199, 103]
                            ]
                        });
                    } else {

                    }
                },
                error: function () {
                    console.log("Ajax ERROR!")
                }
            })
        }

        function getFlightTbody(data) {
            let html = "";

            if (data.lowest_flight_economy != null) {
                html += "<tr>";
                html += "<td>" + data.lowest_flight_economy.flightNo + "</td>";
                html += "<td>" + data.lowest_flight_economy.departAirport + " " + data.lowest_flight_economy.departDateTime + "</td>";
                html += "<td>" + data.lowest_flight_economy.arrivalAirport + " " + data.lowest_flight_economy.arrivalDateTime + "</td>";
                html += "<td>" + "￥" + data.lowest_price_economy + "</td>";
                html += "<td>- -</td>";
                html += "<td>- -</td>";
                html += "</tr>";
            }

            if (data.lowest_flight_business != null) {
                html += "<tr>";
                html += "<td>" + data.lowest_flight_business.flightNo + "</td>";
                html += "<td>" + data.lowest_flight_business.departAirport + " " + data.lowest_flight_business.departDateTime + "</td>";
                html += "<td>" + data.lowest_flight_business.arrivalAirport + " " + data.lowest_flight_business.arrivalDateTime + "</td>";
                html += "<td>- -</td>";
                html += "<td>" + "￥" + data.lowest_price_business + "</td>";
                html += "<td>- -</td>";
                html += "</tr>";
            }

            if (data.lowest_flight_luxury != null) {
                html += "<tr>";
                html += "<td>" + data.lowest_flight_luxury.flightNo + "</td>";
                html += "<td>" + data.lowest_flight_luxury.departAirport + " " + data.lowest_flight_luxury.departDateTime + "</td>";
                html += "<td>" + data.lowest_flight_luxury.arrivalAirport + " " + data.lowest_flight_luxury.arrivalDateTime + "</td>";
                html += "<td>- -</td>";
                html += "<td>- -</td>";
                html += "<td>" + "￥" + data.lowest_price_luxury + "</td>";
                html += "</tr>";
            }
            return html;
        }

        function addTask() {
            $.ajax({
                url: "{% url 'add_flight_task' %}",
                type: 'POST',
                data: {
                    'task_name': $('#taskNameAdd').val(),
                    'airline_company': $('#selectTypeAdd').val(),
                    'from': $('#fromAdd').val(),
                    'to': $('#toAdd').val(),
                    'date': $('#dateAdd').val(),
                    'interval': $('input[name="intervalAdd"]:checked').val(),
                    'enable_notif': $('input[name="enableNotificationAdd"]:checked').val(),
                    'notif_condition': $('#notificationTypeBtnAdd').text(),
                    'price': $('#notificationTypeInputAdd').val(),
                },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.success) {
                        swal("Good Job!", "任务添加成功", "success").then((value) => location.reload());
                    } else {
                        swal("Oops...", "出现一些问题，任务添加失败", "error");
                    }
                },
                error: function () {
                    console.log("Ajax ERROR!")
                }
            })
        }

        function delTask(id) {
            swal({
                title: "Are you sure?",
                text: "确定要删除该任务吗？一旦删除，不可恢复。",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "{% url 'del_flight_task' %}",
                        type: 'POST',
                        data: {
                            'id': id
                        },
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            if (data.success) {
                                swal("Good Job!", "已成功删除该任务", "success").then((value) => location.reload());
                            } else {
                                swal("Oops...", "出现一些问题，任务删除失败", "error");
                            }
                        },
                        error: function () {
                            console.log("Ajax ERROR!")
                        }
                    })
                }
            });
        }
    </script>
{% endblock %}
